.App {
  text-align: left;
  display: block;
  color: white;
  font-size: 15px;
  font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.App-header {
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  border-bottom: rgb(56, 68, 77) solid 1px;
  padding: 7px;
  z-index: 999;
  background-color: #282c34;
}

.App-header-description {
  margin-left: 10px;
}

.App-main {
  display: block;
  width: auto;
  top: 40px;
  /* align-items: stretch; */
  overflow-y: scroll;
  padding: 10px;
  position: relative;
}

.App-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
}

.App-link:hover {
  text-decoration: underline;
}
