.Post {
  padding: 9px 14px;
  border-bottom: rgb(56, 68, 77) solid 1px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: stretch;
  font-size: 14px;
}

.Post-user-icon {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 37px;
  height: 37px;
  position: relative;
  text-size-adjust: 100%;
  margin-right: 10px;
}

.Post-user-icon-link {
  display: flex;
  font-weight: bold;
  color: white;
  text-decoration: none;
  max-height: 100%;
  height: auto;
  width: auto;
}

.Post-user-icon img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.Post-username-timestamp-content {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  text-size-adjust: 100%;
}

.Post-top-line {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  text-size-adjust: 100%;
}

.Post-top-line-left-side {
  align-items: baseline;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  font-size: 14px;
  position: relative;
  text-size-adjust: 100%;
}

.Post-top-line-right-side {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: flex-start;
  margin-left: 18px;
  position: relative;
  text-size-adjust: 100%;
  width: 25px;
  height: 25px;
}

.Post-username {
  display: flex;
  font-weight: bold;
  color: white;
  text-decoration: none;
  max-height: 100%;
  height: auto;
  width: auto;
}

.Post-username:hover {
  text-decoration: underline;
}

.Post-timestamp {
  color: #8896A6;
}

.Post-delete-icon {
  max-height: 55%;
  max-width: auto;
  margin: 0 0 0 auto;
  object-fit: contain;
}

.Post-delete-icon img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.Post-content {
  box-sizing: border-box;
  display: block;
  overflow-wrap: break-word;
  position: relative;
  white-space: pre-wrap;
}
