.Post {
  padding: 10px;
  border-bottom: rgb(56, 68, 77) solid 1px;
}

.Post-username-timestamp {
  display: flex;
  flex-direction: row;
}

.Post-username {
  font-weight: bold;
}

.Post-timestamp {
  color: #8896A6;
}
