.Post {
  padding: 10px;
  border-bottom: rgb(56, 68, 77) solid 1px;
}

.Post-username-timestamp {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 30px;
  position: relative;
  padding-bottom: 2px;
}

.Post-username {
  display: flex;
  font-weight: bold;
  color: white;
  text-decoration: none;
  max-height: 100%;
  height: auto;
  width: auto;
}

.Post-username:hover {
  text-decoration: underline;
}

.Post-username img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  margin-right: 10px;
}

.Post-timestamp {
  color: #8896A6;
}

.Timeline button {
  font-size: 15px;
}

.Timeline-post-button {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  margin-bottom: 15px;
}

.Timeline-post-button button {
  font-size: 1.2em;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
