.UserProfile {
  padding: 5px;
}

.UserProfile-top {
  display: flex;
  border-bottom: rgb(56, 68, 77) solid 1px;
}

.UserProfile-top > div {
  padding: 5px;
}

.UserProfile-photo img {
  width: 65px;
}

.UserProfile-name {
  font-size: 20px;
}

.UserProfile-edit-button button {
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #1da1f2;
  right: 0;
}

.UserProfile-posted-contents {
  overflow-y: scroll;
  font-size: 20px;
}
